nav {
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: #cccccc;
    height: 50px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);

    ul {
        width: 1200px;
        padding: 10px 50px 0 50px;
        margin: auto;
        list-style-type: none;

        li {
            display: inline-block;
            padding-right: 40px;

            a {
                text-decoration: none;
                color: black;
                font-size: 25px;
                width: 200px;
            }
        }
    }
}

.is-active {
    font-weight: bold;
}
