.game-info {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;

    img {
        width: 30%;
    }

    .game-title {
        position: relative;
        width: 70%;
        padding: 30px 30px 50px 30px;
        background-color: #dddddd;

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }

        .game-details {
            display: flex;
            margin-bottom: 20px;

            .identifier {
                width: 150px;
            }

            .entries {
            }
        }

        p {
            font-size: 16px;
        }

        .edit-game-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
            height: 30px;
            font-size: 18px;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            background-color: cadetblue;
            line-height: 30px;
            padding: 0 10px 0 10px;
        }

        .edit-game-button:hover {
            box-shadow: 0 0 3px 0 gray;
        }
    }

    .separator {
        width: 100%;
        height: 25px;
    }

    .trailer {
        width: 100%;
        aspect-ratio: 16/9;
    }

    .game-ratings {
        width: 100%;

        ul {
            list-style: none;
        }
    }
}

@media (max-width: 800px) {
    .game-info {
        img {
            width: 100%;
        }

        .game-title {
            width: 100%;
        }
    }
}
