.add-rating {
    background-color: #dddddd;
    margin-top: 25px;
    font-size: 22px;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    table {
      border-collapse: collapse;
      .key {
        width: 110px;
      }
    }
  
    textarea {
      margin: 10px 0 10px 0;
      width: 100%;
      height: 100px;
      resize: none;
      border: 1px solid black;
      border-radius: 5px;
      font-size: 20px;
      padding: 5px;
    }

    .add-rating-button-container {
      display: flex;
      justify-content: right;
      width: 100%;

      button {
        margin-top: 0;
      }
    }

  }