.notification {
  margin: 25px auto 0 auto;
  padding: 8px;
  font-size: 25px;
  line-height: 25px;
  align-content: center;
  background-color: #d1e7dd;
  border: 1px solid #a3cfbb;
  color: #146c43;
  border-radius: 5px;
  width: 100%;
}
