.game-component {
    width: 25%;
    padding: 25px;
}

@media (max-width: 900px) {
    .game-component {
        width: 33.33333333%;
    }
}

@media (max-width: 600px) {
    .game-component {
        width: 50%;
    }
}

@media (max-width: 300px) {
    .game-component {
        width: 100%;
    }
}

.flip-card {
    width: 100%;
    aspect-ratio: 0.68;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.5);
    border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: black;

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
}

.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
}